@font-face {
  font-family: "Handwriting";   /*Can be any text*/
  src: local("Handwriting-Regular"),
    url("/public/fonts/Handwriting-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Headers";   /*Can be any text*/
  src: local("Headers-Regular"),
    url("/public/fonts/Headers-Regular.ttf") format("truetype");
}
