.right-button {
  width: 50px;
  height: 50px;
  background-color: pink;
  border-style: none;
  right: 10vw;
  top: 40%;
  position: fixed;
  font-size: 40px;
}
.left-button {
  width: 50px;
  height: 50px;
  background-color: pink;
  border-style: none;
  left: 10vw;
  top: 40%;
  position: fixed;
  font-size: 40px;
}

.thumb{
  max-height: 40vh;
  max-width: 40vw;
}
#slide-small{
  top: 0em;
  max-height: 50vh;
  max-width: 50vw;
}

